body{
  background-color: #031228;
  font-family: "Yu Gotic", sans-serif;
  color: white;
}

.menu2{
  color: white;
  position: relative;
  position: absolute;
  right: 40px;
  top: 50px;

}

.Banditz{
  color: white;
  font-size: 80px;
  font-weight: bold;
  border: 10px solid white;
  padding: 8px;
  text-decoration: none;
}

.Banditz:hover{
  background: white;
  color: #031228;
  transition: 1s;
}

.nav{
  color: white;
  position: absolute;
  right: 30px;
  top: 200px;
  text-align: right;
}

.menu1{
  font-size: 40px;
  color: white;
}


li{
  margin-bottom: 20px;
}


#Top img{
  width: 100%;
  min-height: 270px;
  min-width: 960px;
  display: block;
  margin: 0 auto;
  filter:drop-shadow(16px 16px 10px black);
  position: relative;
}

#About{
  width: 600px;
  height: 300px;
  margin: 0 auto;
  padding: 70px 30px 90px 30px;
  display: block;;
}

#About img{
  float: left;
}

#box1{
  width: 300px;
  height: 200px;
  float: right;
  line-height: 2em;
}

#Live{
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  padding: 100px 30px 100px 30px;
  display: block;
  position: relative;
}

.menu{
  float:left;
  padding: 10px;
  margin: 0 auto;
}


/* 全部のアニメーションに共通のCSS */
.cover {
  width: 200px;
	text-align: left;
	padding: 10px;
	list-style: none;
	float: left;
}

.cover .menu {
    /*  ⬇︎positionをrelativeにしよう  */
	position: relative;
}

.cover .menu img {
    /*  ⬇︎画像を固定しよう  */
	max-width: 100%;
	display: block;
	position: relative;
}

.caption {
    /*  ⬇︎タイトルと本文を固定しよう  */
	position: absolute;
	top: 0;
	left: 0;
  width: 100px;
	padding: 10px;
	background: white;
	color: #031228;
}


.cover .menu img {
    /*  画像を文字より手前にする  */
	z-index: 10;

    /*  ⬇︎画像の動きをなめらかに  */
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.cover .menu:hover img {
    /*  ⬇︎画像の位置を変える  */
	-webkit-transform: translateY(-90px);
	-moz-transform: translateY(-90px);
	-ms-transform: translateY(-90px);
	transform: translateY(-90px);
}

.menu .caption {
	height: 90px;
	width: 100%;
	top: auto;
	bottom: 0;
}


.more{
  color: white;
  font-size: 30px;
  font-weight: bold;
  border: 4px solid white;
  padding: 8px;
  text-decoration: none;
  position: absolute;
  right: 0;
  bottom: 0;
}

.more:hover{
  background: white;
  color: #031228;
  transition: 1s;
}

#Event{
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  padding: 100px 30px 100px 30px;
  display: block;
  position: relative;
}


.section-title{
   font-size: 60px;
   font-weight:600;
   text-align: center;
   text-decoration: underline;
   margin-bottom: 100px;
}

.EventPhoto{
  float:left;
  padding: 10px;
  margin: 0 auto;
}



#Youtube{
  width: 1000px;
  margin: 0 auto;
  padding: 70px 30px 90px 30px;
  display: block;;
  position: relative;
}

.movie iframe{
  display: block;
  margin: auto;
}

.movie{
   text-align: center;
   margin: auto;
   font-size: 24px;
   padding: 50px;
}

#Photo{
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  padding: 20px 30px 50px 30px;
  text-align: center;
  display: block;
  position: relative;
}

#Photo img{
  padding:10px;
  text-align: center;
}


#Contact{
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  padding: 20px 30px 20px 30px;
  display: block;;
  position: relative;
}

form{
  margin: 0 auto;;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div+div{
  margin-top: 1em;
}

label{
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,textarea{
  font:1em sans-serif;
  width: 300px;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,textarea:focus{
  border-color: #000;
}

textarea{
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

.button{
  padding-left: 90px;
}

button{
  margin-left: 5em;
}
